<!DOCTYPE html>
<html lang="en">

  <head>
    <title>The Utterly Forgetful Music Genie</title>
    <link href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <h1>The Utterly Forgetful Music Genie</h1>



    <div class="left">
      <img src="images/forgetful.jpg" title="Mr Music Genie" alt="The utterly forgetful genie" />
    </div>

    <div class="right">
      <form action="/tracks" method="POST" enctype="multipart/form-data">

        <h3>Give me an Artist name and I'll tell you songs by them...</h3>

        <div class="field">
          <label id="artist" for="artist">Artist</label>
          <input type="text" name="artist" />
        <div>

        <div class="field">
          <label for="tc">
            I certify that the music I am searching for is in good taste...
          <label>
          <input id="checkbox" type="checkbox" name="tc" value="1" />
        </div>

        <div>
          <input type="submit" name="submit" value="Submit" />
        </div>

      </form>
    </div>

        <% if flash[:notice] %>
      <div class="answer">
        <%= flash[:notice] %>
      </div>
    <% end %>

  </body>

</html>