<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Richard's App</title>
    <link href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <h1>Richard's App</h1>

    <% if flash[:notice] %>
      <div class="answer">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div>
      <img src="images/guru.png" title="Music Guru" alt="The all-knowing Music Guru" />
    </div>

    <div>
      <form action="/tracks" method="POST" enctype="multipart/form-data">

        <h3>Give me the name of a musical act and I'll list some of their tracks (and probably include some remixes)...</h3>

        <div class="field">
          <label for="artist">Musical Act</label>
          <input type="text" name="artist" />
        <div>

        <div>
          <input type="submit" name="submit" value="Submit" />
        </div>

      </form>
    </div>

  </body>

</html>