<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Dan the grumpy genie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <h1>Dan the grumpy genie</h1>
        <div>
      <% if flash[:notice] %>
        <div class="answer">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div id="image">
        <img src="https://raw.githubusercontent.com/dansteele/wgc_groundwork/master/public/images/pic.jpg" width="300px" title="Music Guru" alt="The all-knowing Music Guru" />
      </div>
    </div>
    <div>
      <form id="submitForm" action="/tracks" method="POST" enctype="multipart/form-data">

        
<h3 id="info">Give me an Artist name and I'll tell you how HAWT they are</h3>


        <div class="field">
          <label for="artist">Artist</label>
          <input id="artist" placeholder="Eminem" type="text" name="artist" />
        </div>

        <div class="field">
          <label for="name">Name</label>
          <input id="name" placeholder="Dan" type="text" name="name" />
        </div>

        <div class="field">
          <label for="tc">
            I certify that the artist I am searching for is in good taste...
          <label>
          <input id="checkbox" type="checkbox" name="tc" value="1" />
        </div>

        <div>
          <input   type="submit" name="submit" value="Submit" />
        </div>

      </form>
    </div>

    <div class="errorDiv" id="textErrorDiv">
      <h3>
        You need to give me an artist!
      </h3>
    </div>
    <br>
    <div class="errorDiv" id="boxErrorDiv">
      <h3>
        I won't look up any boring artists!
      </h3>
    </div>

    
    <script>
    // $('#submitForm').submit(function(event) {
    //   var artistVal = false
    //   if ($('#artist').val() != '') { // Check if value is entered
    //       console.log('value: ' + $('#artist').val())
    //       $('#textErrorDiv').hide();
    //     } else {
    //       $('#textErrorDiv').show();
    //       event.preventDefault()
    //     }
    //     console.log('Checkbox value: ' + $('#checkbox').prop('checked'))
    //     if ($('#checkbox').prop('checked')  == true) { // Check if artist is good
    //       console.log('Checkbox value: ' + $('#checkbox').val())
    //       $('#boxErrorDiv').hide();
    //     } else {
    //       $('#boxErrorDiv').show();
    //       event.preventDefault()
    //     }
    //     }
    // )
    </script>

  </body>

</html>