<!DOCTYPE html>
<html lang="en">

  <head>
    <title>My Amazing First App</title>
    <link href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <h1>My Amazing First App</h1>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div>
      <img src="images/guru.png" title="Music Guru" alt="The all-knowing Music Guru" />
    </div>

    <div>
      <form action="/tracks" method="POST" enctype="multipart/form-data">

        <h3>Give me a track and I'll guest what it is...</h3>

        <div class="field">
          <label for="track">Track File</label>
          <input type="file" name="track" />
        <div>

        <div class="field">
          <label for="tc">
            I certify that the music I am uploading is of good taste.
          <label>
          <input type="checkbox" name="tc" value="1" />
        </div>

        <div>
          <input type="submit" name="submit" value="Submit" />
        </div>

      </form>
    </div>

  </body>

</html>