<!DOCTYPE html>
<html lang="en">

  <head>
    <title>The Amazingly Forgetful Music Genie</title>
    <link href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <h1>My Amazing First App</h1>

    <% if flash[:notice] %>
      <div class="answer">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div>
      <img src="images/guru.png" title="Music Guru" alt="The all-knowing Music Guru" />
    </div>

    <div>
      <form action="/tracks" method="POST" enctype="multipart/form-data">

        <h3>Give me an Artist name and I'll tell you songs by them...</h3>

        <div class="field">
          <label for="artist">Artist</label>
          <input type="text" name="artist" />
        <div>

        <div class="field">
          <label for="tc">
            I certify that the music I am searching for is in good taste...
          <label>
          <input type="checkbox" name="tc" value="1" />
        </div>

        <div>
          <input type="submit" name="submit" value="Submit" />
        </div>

      </form>
    </div>

  </body>

</html>