body {
  text-align : center;
  font-family: "Lucida Bright", Georgia, serif;
}

h1 {
  font-size: 32spt;
  text-align: center;
  text-transform: uppercase;
}

img {
  float:left;
}

.field {
  margin: 20px;
}

.answer {
  width: 300px;
  margin: 0 auto 2em auto;
  position: relative;
  padding:15px;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  /*background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;*/
}

.answer:after {
  content:"";
  position:absolute;
  bottom:-15px;
  left:50px;
  border-width:15px 15px 0;
  border-style:solid;
  border-color:#f3961c transparent;
  display:block;
  width:0;
}
