body {
  text-align : center;
    font-family: 'Indie Flower', cursive;
    background-image: -moz-radial-gradient(center , ellipse farthest-corner, #AAAAAA 0%, #111111 100%);
    color: #FFFFFF
  }

h1 {
  font-size: 32pt;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 100px
}

img {
  box-shadow: 5px 5px #444444;
}

.field {
  position:relative;
  top: -100px;
  margin: 20px;

}

#info {
  position: fixed;
  top: 150px;
  left:80px;
}

.answer {
  width: 300px;
  margin: 0 auto 2em auto;
  position: relative;
  padding:15px;
  color:#000;
  background:#f3961c; 
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.answer:after {
  content:"";
  position:absolute;
  bottom:-15px;
  left:50px;
  border-width:15px 15px 0;
  border-style:solid;
  border-color:#f3961c transparent;
  display:block;
  width:0;
}

#image {
  position:relative;
  top: -100px;
  z-index: -1;
}

.errorDiv {
  display: none;
}
